.header {
  background-color: #1a73e8;
  /* background: linear-gradient(90deg, #FAFAFA 0%, #F0F0F0 100%); */
  color: #fff;
  padding: 48px 40px;
}

.wrapper {
  position: relative;
  width: 100%;
  background: #e8eaed;
}

  .wrapper::before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  .wrapper > .map {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
  }
